<form class="valign-wrapper">
  <input type="hidden" ng-init="card_id='<%= card_id %>'" >

  <div class="input-field col">
    <select ng-model="list" ng-init="list = 'game'">
      <option value="game">game</option>
      <option value="want">want</option>
      <option value="have">have</option>
      <option value="foil">foil</option>
    </select>
    <label>Add to List</label>
  </div>

  <span class="input-field">
    <a class="waves-effect btn" ng-click="addToCollection()">
      <i class="material-icons">add</i>
    </a>
  </span>

  <span class="input-field">
    <a class="waves-effect btn" ng-click="removeToCollection()">
      <i class="material-icons">remove</i>
    </a>
  </span>
</form>
