<ul class="collapsible" data-collapsible="accordion" ng-controller="InventoryController">
  <% @inventories.each do |card| %>
    <li>
      <div class="collapsible-header">
        <span><%= card.card.portuguese_name %></span>
        <span class="secondary-content">
          <%= number_to_currency card.card.on_demand_price %>
        </span>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <%= render "collection_form", card_id: card.card.id %>
        </div>

        <div class="row">
          <%= image_tag card.card.image, alt: card.card.name, class: "responsive-img" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
