---
http_interactions:
- request:
    method: get
    uri: http://api.mtgapi.com/v2/cards?page=1&set=KTK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":[{"command":"where","key":"set","conditional":"=","value":"KTK"}],"cards":[{"artist":"Erica
        Yang","border":"black","cmc":6,"colors":["Blue","Black","Green"],"flavor":null,"foreignNames":[{"language":"Chinese
        Simplified","name":"\u8c37\u6e21\u618e\u6068\u517d","multiverseid":386732},{"language":"Chinese
        Traditional","name":"\u8c37\u6e21\u618e\u6068\u7378","multiverseid":387001},{"language":"French","name":"Abomination
        de Gud\u00f9l","multiverseid":387539},{"language":"German","name":"Gudul-Scheu\u00dflichkeit","multiverseid":387270},{"language":"Italian","name":"Abominio
        di Gudul","multiverseid":387808},{"language":"Japanese","name":"\u30b0\u30c9\u30a5\u30eb\u306e\u5acc\u60aa\u8005","multiverseid":388077},{"language":"Korean","name":"\uad6c\ub458\uc758
        \ud749\ubb3c","multiverseid":388346},{"language":"Portuguese (Brazil)","name":"Abomina\u00e7\u00e3o
        de Gudul","multiverseid":388615},{"language":"Russian","name":"\u0413\u0443\u0434\u0443\u043b\u044c\u0441\u043a\u0430\u044f
        \u041c\u0435\u0440\u0437\u043e\u0441\u0442\u044c","multiverseid":388884},{"language":"Spanish","name":"Abominaci\u00f3n
        de Gudul","multiverseid":389153}],"hand":null,"images":{"gatherer":"http:\/\/gatherer.wizards.com\/Handlers\/Image.ashx?type=card&multiverseid=386463","mtgimage":"http:\/\/mtgimage.com\/set\/KTK\/abomination
        of gudul.jpg"},"layout":"normal","legalities":[{"format":"Commander","legality":"Legal"},{"format":"Freeform","legality":"Legal"},{"format":"Legacy","legality":"Legal"},{"format":"Modern","legality":"Legal"},{"format":"Prismatic","legality":"Legal"},{"format":"Singleton
        100","legality":"Legal"},{"format":"Standard","legality":"Legal"},{"format":"Tarkir
        Block","legality":"Legal"},{"format":"Tribal Wars Legacy","legality":"Legal"},{"format":"Tribal
        Wars Standard","legality":"Legal"},{"format":"Vintage","legality":"Legal"}],"life":null,"links":{"set":"http:\/\/api.mtgapi.com\/v2\/sets?code=KTK"},"loyalty":null,"manaCost":"{3}{B}{G}{U}","multiverseid":386463,"name":"Abomination
        of Gudul","names":null,"number":"159","originalText":"Flying\nWhenever Abomination
        of Gudul deals combat damage to a player, you may draw a card. If you do,
        discard a card.\nMorph {2}{B}{G}{U} (You may cast this card face down as a
        2\/2 creature for {3}. Turn it face up any time for its morph cost.)","originalType":"Creature
        \u2014 Horror","power":"3","printings":["KTK"],"rarity":"Common","rulings":[{"date":"2014-09-20","text":"Morph
        lets you cast a card face down by paying {3}, and lets you turn the face-down
        permanent face up any time you have priority by paying its morph cost."},{"date":"2014-09-20","text":"The
        face-down spell has no mana cost and has a converted mana cost of 0. When
        you cast a face-down spell, put it on the stack face down so no other player
        knows what it is, and pay {3}. This is an alternative cost."},{"date":"2014-09-20","text":"When
        the spell reso[...]
