---
http_interactions:
- request:
    method: get
    uri: http://api.mtgapi.com/v2/cards?set=KTK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":[{"command":"where","key":"set","conditional":"=","value":"KTK"}],"cards":[{"artist":"Erica
        Yang","border":"black","cmc":6,"colors":["Blue","Black","Green"],"flavor":null,"foreignNames":[{"language":"Chinese
        Traditional","name":"\u8c37\u6e21\u618e\u6068\u7378"},{"language":"Chinese
        Simplified","name":"\u8c37\u6e21\u618e\u6068\u517d"},{"language":"French","name":"Abomination
        de Gud\u00f9l"},{"language":"German","name":"Gudul-Scheu\u00dflichkeit"},{"language":"Italian","name":"Abominio
        di Gudul"},{"language":"Japanese","name":"\u30b0\u30c9\u30a5\u30eb\u306e\u5acc\u60aa\u8005"},{"language":"Korean","name":"\uad6c\ub458\uc758
        \ud749\ubb3c"},{"language":"Portuguese (Brazil)","name":"Abomina\u00e7\u00e3o
        de Gudul"},{"language":"Russian","name":"\u0413\u0443\u0434\u0443\u043b\u044c\u0441\u043a\u0430\u044f
        \u041c\u0435\u0440\u0437\u043e\u0441\u0442\u044c"},{"language":"Spanish","name":"Abominaci\u00f3n
        de Gudul"}],"hand":null,"images":{"gatherer":"http:\/\/gatherer.wizards.com\/Handlers\/Image.ashx?type=card&multiverseid=386463","mtgimage":"http:\/\/mtgimage.com\/set\/KTK\/abomination
        of gudul.jpg"},"layout":"normal","legalities":{"Vintage":"Legal"},"life":null,"links":{"set":"http:\/\/api.mtgapi.com\/v2\/sets?code=KTK"},"loyalty":null,"manaCost":"{3}{B}{G}{U}","multiverseid":386463,"name":"Abomination
        of Gudul","names":null,"number":"159","originalText":"Flying\nWhenever Abomination
        of Gudul deals combat damage to a player, you may draw a card. If you do,
        discard a card.\nMorph {2}{B}{G}{U} (You may cast this card face down as a
        2\/2 creature for {3}. Turn it face up any time for its morph cost.)","originalType":"Creature
        \u2014 Horror","power":"3","printings":["Khans of Tarkir"],"rarity":"Common","rulings":null,"set":"KTK","subtypes":["Horror"],"supertypes":null,"text":"Flying\nWhenever
        Abomination of Gudul deals combat damage to a player, you may draw a card.
        If you do, discard a card.\nMorph {2}{B}{G}{U} (You may cast this card face
        down as a 2\/2 creature for {3}. Turn it face up any time for its morph cost.)","toughness":"4","type":"Creature
        \u2014 Horror","types":["Creature"],"variations":null,"watermark":null},{"artist":"Mark
        Winters","border":"black","cmc":3,"colors":["White","Black","Green"],"flavor":null,"foreignNames":[{"language":"Chinese
        Traditional","name":"\u963f\u5e03\u8d0a\u9738\u6b0a"},{"language":"Chinese
        Simplified","name":"\u963f\u5e03\u8d5e\u9738\u6743"},{"language":"French","name":"Ascendance
        abzane"},{"language":"German","name":"Vormacht der Abzan"},{"language":"Italian","name":"Autorit\u00e0
        Abzan"},{"language":"Japanese","name":"\u30a2\u[...]
