.nested-collapsible {
  border-right: 0;
  border-left: 0;
  margin: 0;
}

.top-decks-box {
  line-height: 0.1;
}

.mtg {
  font-size: 1.6em;
  position: relative;
  top: 0.25em;
}

.mtg + .mtg {
  margin-left: 3px;
}
