body {
  font-family: 'Lato', serif;
  color: white;
  padding: 0.25em;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(252,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
    font-family: 'Lato', serif;
}

a:link {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.deck-box {
  padding: 1em;
  /* background: rgb(240,240,240); */
  /* font-size: 85%; */
  margin:1em 0;
}

.deck-sideboard {
  color: grey;
}
.deck-list > h4 {
  margin:0;
}

li { margin-bottom: 0.5em; }

hr { margin-top: 0.5em;}
h2 { margin-bottom: 0;}
ol {

  list-style: none;
  padding-left: 0em;
}
.deck-list {
  padding: 0 0.5em;
}

.deck-list > h5 {
  margin-bottom:0;
}
.deck-box > div {
  /* display: inline-block;  */
  /* vertical-align: top */
}

.card_entry_box {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  padding: 1em;
}

.box table {
  width: 100%;
}

.box h2 {
  /* text-align: center; */
}

.box ol {
  padding-right: 2em;
}

.box ul {
  list-style: none;
  padding-left: 0;
}

.box .pure-button {
  margin-bottom: 1em;
  /* margin-top: 1em; */
}

.blue { color: rgb(42,143,189); }
.green { color: rgb(144,171,118); }
.white { color: rgb(252,251,227); }
.black { color: rgb(48,48,48); }
.red { color: rgb(164,8,2); }

.top_decks {
 list-style: none;
 padding-left: 0;
}

.top_decks span {
  /* margin-bottom: 1em; */
}

.top_decks .pure-button {
  width: 100%;
}

.crop {
  width: 233px;
}


