<div id="container" ng-app='demos_cfg' ng-controller='LiveSearchController' class="section">
  <nav>
    <div class="nav-wrapper">
      <%= form_for(:query, method: :get) do |f| %>
        <div class="input-field">
          <%= f.search_field :name, ng_change: "change(text)", ng_model: "search" %>
          <label for="search"><i class="mdi-action-search"></i></label>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="row section">
    <div id="test1" class="col s12 section">
      <div class="card" ng-repeat="entry in entries">
        <div class="card-content blue-grey lighten-5">
          <span>
            {{entry.portuguese_name}}
          </span>
          <span class="secondary-content">
            {{entry.price}}
          </span>
        </div>
        <div class="card-action">
            {{entry.original_text}}
        </div>
        <div class="card-action">
          <form class="valign-wrapper" ng-submit="addCardToCollection($event)">
            <div class="input-field col s4">
              <select class="browser-default" ng-model="copies">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="input-field col s4">
              <select class="browser-default" ng-model="list">
                <option value="want">want</option>
                <option value="have">have</option>
                <option value="game">game</option>
                <option value="foil">foil</option>
              </select>
            </div>
            <input class="btn input-field col s3" name="commit" type="submit" value="add" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
