<% cards.each_pair do |card_type, cards| %>
  <h5><%= card_type %></h5>
  <ul class="collapsible" data-collapsible="accordion">
    <% cards.each do |card| %>
      <li>
        <div class="collapsible-header">
          <%= "#{card[:copies]} #{card[:card].name} #{number_to_currency card[:card].on_demand_price}" %>
        </div>
        <div class="collapsible-body">
            <div class="row">
              <%= render "inventory_form", card: card[:card] %>
            </div>
            <div class="row">
              <%= image_tag card[:card].image, alt: card[:card].name, class: "responsive-img" %>
            </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
