<% cards.each_pair do |card_type, cards| %>
  <h5><%= card_type %></h5>
    <ul>
      <% cards.each do |card| %>
        <li>
          <strong><%= card[:copies] %></strong>
          <%= link_to card[:card].name, "#", class: "card-image", data: { card_image: card[:card].image }%>
        </li>
      <% end %>
    </ul>
    
  <% end %>
