<ul class="collapsible nested-collapsible" data-collapsible="accordion">
  <% cards.each do |card| %>
      <li>
        <div class="collapsible-header">
          <%= "#{card.name} #{number_to_currency card.on_demand_price}" %>
        </div>
        <div class="collapsible-body">
            <div class="row">
              <%= render "inventory_form", card: card %>
            </div>
            <div class="row">
              <%= image_tag card.image, alt: card.name, class: "responsive-img" %>
            </div>
        </div>
      </li>
  <% end %>
</ul>
