<div class="deck-box pure-g">
  <div class="deck-list deck-main pure-u-1-2">
    <h4>Main</h4>
    <%= render 'card_entry', cards: deck.main %>
  </div>

  <div class="deck-list deck-sideboard pure-u-1-2">
    <h4>Sideboard</h4>
    <%= render 'card_entry', cards: deck.sideboard %>
  </div>

  <div class="deck-card-preview pure-u-1">
    <img class="pure-img" src="#">
  </div>
</div>
