<div class="deck-box">
  <div class="deck-main">
    <h4>Main</h4>
    <%= render 'card_entry', cards: deck.main %>
  </div>

  <div class="deck-sideboard">
    <h4>Sideboard</h4>
    <%= render 'card_entry', cards: deck.sideboard %>
  </div>

  <div class="deck-card-preview">
    <img src="#">
  </div>
</div>
