<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Main</a></li>
      <li class="tab col s3"><a href="#test2">Sideboard</a></li>
    </ul>
    <div id="test1" class="col s12">
      <%= render 'card_entry', cards: deck.group_by_card_type(:main) %>
    </div>
    <div id="test2" class="col s12">
      <%= render 'card_entry', cards: deck.group_by_card_type(:sideboard) %>
    </div>
  </div>
</div>
