<div class="deck-box">
  <div class="deck-main">
    <h4>Main</h4>
    <ul>
      <% deck.main.each do |entry| %>
        <li>
          <strong><%= entry[:copies] %></strong>
          <%= link_to entry[:card].name, "#", class: "card-image", data: { card_image: entry[:card].image }%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="deck-sideboard">
    <h4>Sideboard</h4>
    <ul>
      <% deck.sideboard.each do |entry| %>
        <li>
          <strong><%= entry[:copies] %></strong>
          <%= link_to entry[:card].name, "#", class: "card-image", data: { card_image: entry[:card].image }%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="deck-card-preview">
    <img src="#">
  </div>
</div>
