<div class="row">
  <div class="col s12 l4 section">
    <h5>Top Decks</h5>

    <%= render partial: 'deck_list_link', collection: @presenter.top_decks, as: :deck %>
  </div>

  <div class="col s12 l8 section ">
    <h5>Top Cards</h5>
    <live-search source="topCards" default="true" template='/templates/results-topcards.html'/>
  </div>
</div>

