<div id="container" class="section" ng-controller="DeckBuilderController">
  <nav>
    <live-search />
  </nav>

  <div class="row section">
    <div id="test1" class="col s12 l6 section">
      <h5 class="center-align">Resultados</h5>
      <ng-include src="'/templates/results-decks.html'" ng-repeat="entry in entries"/>
    </div>

    <div class="col s12 l6 section">
      <h5 class="center-align">Deck List</h5>
      <ul class="collection with-header">
        <li class="collection-header">
          <i ng-class="isValid.color" class="material-icons red-text"/>{{ isValid.icon }}</i>
          <span class="secondary-content">Total: {{ deck.deck_size }}</span>
        </li>
        <li class="collection-item valign-wrapper" ng-repeat="card in deck.deck_list" style="padding-left:0; padding-top:0; padding-bottom:0;">
          <a ng-click="addToDeck(card.id, -1)"class="waves-effect btn-flat btn-list col s1 center-align" style="padding: 0">
            <i class="material-icons">remove</i>
          </a>
          <span class="col s1 center-align">{{ card.copies}}</span>
          <a ng-click="addToDeck(card.id, +1)"class="waves-effect btn-flat btn-list col s1 center-align" style="padding: 0">
            <i class="material-icons">add</i>
          </a>
          <div class="col s9 with-action" style="padding: 0;">
            <span class="secondary-content">{{ card.name }}</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12 l3 section">
      <h5 class="center-align">Initial Hand</h5>
      <ul class="collection">
        <li class="collection-item" ng-repeat="card in deck.first_hand track by $index">
          {{ card }}
        </li>
      </ul>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Manacost</h5>
      <canvas class="chart chart-bar" data="deck.mana.data" labels="deck.mana.labels"></canvas>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Colors</h5>
      <canvas class="chart chart-pie" data="deck.color.data" labels="deck.color.labels" colours="deck.color.colors"></canvas>
    </div>

    <div class="col s12 l2 section right">
      <h5 class="center-align">Types</h5>
      <canvas class="chart chart-pie" data="deck.type.data" labels="deck.type.labels"></canvas>
    </div>
</div>
