<div id="container" class="section" ng-controller="DeckBuilderController">
  <nav>
    <live-search />
  </nav>

  <div class="row section">
    <div id="test1" class="col s12 l4 section">
      <h5 class="center-align">Resultados</h5>
      <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="entry in entries" class="search-result">
          <div class="collapsible-header">
            <span>
              {{entry.portuguese_name}}
            </span>
            <span class="secondary-content">
              {{entry.price}}
            </span>
          </div>
          <div class="collapsible-body">
            {{entry.original_text}}

            <div div="row">
              <a class="waves-effect waves-light btn" ng-click="addToDeck(entry.id)">+4</a>
              <a class="waves-effect waves-light btn" ng-click="removeToDeck(entry.id)">-4</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Initial Hand</h5>
      <ul class="collection">
        <li class="collection-item" ng-repeat="card in deck.first_hand track by $index">
          {{ card }}
        </li>
      </ul>
    </div>
    <div class="col s12 l2 section">
      <h5 class="center-align">Deck List</h5>
      <ul class="collection with-header">
        <li class="collection-header">Total cards: {{ deck.deck_size }}</li>
        <li class="collection-item" ng-repeat="card in deck.deck_list">
        {{ card.copies}}
        <span class="secondary-content">{{ card.name }}</span>
        </li>
      </ul>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Manacost</h5>
      <canvas class="chart chart-bar" data="deck.mana.data" labels="deck.mana.labels"></canvas>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Colors</h5>
      <canvas class="chart chart-pie" data="deck.color.data" labels="deck.color.labels" colours="deck.color.colors"></canvas>
    </div>

    <div class="col s12 l2 section">
      <h5 class="center-align">Types</h5>
      <canvas class="chart chart-pie" data="deck.type.data" labels="deck.type.labels"></canvas>
    </div>
  </div>
</div>
