<div class="section">
  <nav>
    <div class="nav-wrapper">
      <%= form_for :search, method: :get do |f| %>
        <div class="input-field">
          <%= f.search_field :query %>
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      <% end %>
    </div>
  </nav>
</div>

<%= render partial: 'deck_list_link', collection: @decks, as: :deck %>
