<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li class="pure-menu-selected"><a href="#">Decklist</a></li>
    <li><a href="#">Stats</a></li>
  </ul>
</div>

<h1><%= @deck.name %></h1>
<h2><%= @deck.description %></h2>

<%= render 'deck_box', deck: @deck %>

<%= link_to 'Back', decks_path %>
